<a href="https://colab.research.google.com/github/babymlin/Sentiment/blob/main/sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
!pip install tensorflow-addons
import tensorflow_addons as tfa
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Requirement already satisfied: tensorflow-addons in /usr/local/lib/python3.7/dist-packages (0.13.0)
Requirement already satisfied: typeguard>=2.7 in /usr/local/lib/python3.7/dist-packages (from tensorflow-addons) (2.7.1)

In [73]:
import os
import pandas as pd
from glob import glob
def get_data(base="train"):
  dn = os.path.split(dataset)[0]
  fn = os.path.join(dn , "aclImdb", base, "pos", "*.txt")
  fns = glob(fn)
  contents, target = [], []
  for f in fns:
    with open(f, "r", encoding="utf-8") as file:
      contents.append(file.read())
      target.append(1)
  fn = os.path.join(dn , "aclImdb", base, "neg", "*.txt")
  fns = glob(fn)
  for f in fns:
    with open(f, "r", encoding="utf-8") as file:
      contents.append(file.read())
      target.append(0)
  df = pd.DataFrame({
      "contents":contents,
      "ans":target
  })
  return df["contents"], df["ans"]
x_train, y_train = get_data(base="train")
x_test, y_test = get_data(base="test")

In [74]:
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(x_train)
x_train_seq = tok.texts_to_sequences(x_train)
x_test_seq = tok.texts_to_sequences(x_test)
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0        10    13   576     9    13    28  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        11     6     3    62     4   104  ...   NaN   NaN   NaN   NaN   NaN   NaN
2       109    12    11    17    44     3  ...   NaN   NaN   NaN   NaN   NaN   NaN
3        11     6    32   318    19    15  ...   NaN   NaN   NaN   NaN   NaN   NaN
4      2444    70    90   659    20    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995    11    44    32   218   640   917  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996  2761    16     1  2538     6     3  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997   832   111     2   104  2041   226  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998     1    83   317     4    11   307  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999   639   459    43  1292   385     2  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [75]:
seq_len = 512
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen=seq_len,)
x_test_pad = pad_sequences(x_test_seq, maxlen=seq_len)

In [76]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D, Dense
layers = [
  #input_length輸入每一個詞彙時，有input_dim=3001個字數，降成128個特徵維度，參數總量=3001*128=384128
  Embedding(input_dim=3001, output_dim=128, mask_zero=True, input_length=seq_len),
  GlobalAveragePooling1D(),
  Dense(units=2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_4 (Embedding)      (None, 512, 128)          384128
_________________________________________________________________
global_average_pooling1d_4 ( (None, 128)               0
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 258
=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [77]:
Radam = tfa.optimizers.RectifiedAdam()
Ranger = tfa.optimizers.Lookahead(Radam)
model.compile(
    optimizer=Ranger,
    loss="sparse_categorical_crossentropy",
    metrics = ["accuracy"]
)

In [78]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, CSVLogger
callbacks = [
  CSVLogger("logger.csv"),
  EarlyStopping(patience=5, monitor="val_loss", restore_best_weights=True),
  ModelCheckpoint("best-model.h5", save_best_only=True)
]

In [79]:
batch_size=256
epochs = 100
model.fit(
  x_train_pad, y_train,
  batch_size=batch_size,
  epochs=epochs,
  callbacks=callbacks,
  validation_split=0.1
)

Epoch 1/100
88/88 [==============================] - 5s 49ms/step - loss: 0.6906 - accuracy: 0.5553 - val_loss: 0.7214 - val_accuracy: 4.0000e-04
Epoch 2/100
88/88 [==============================] - 4s 46ms/step - loss: 0.6827 - accuracy: 0.5557 - val_loss: 0.7607 - val_accuracy: 0.0016
Epoch 3/100
88/88 [==============================] - 4s 47ms/step - loss: 0.6697 - accuracy: 0.5576 - val_loss: 0.7775 - val_accuracy: 0.0164
Epoch 4/100
88/88 [==============================] - 4s 47ms/step - loss: 0.6485 - accuracy: 0.5955 - val_loss: 0.7588 - val_accuracy: 0.2116
Epoch 5/100
88/88 [==============================] - 4s 47ms/step - loss: 0.6168 - accuracy: 0.6985 - val_loss: 0.7204 - val_accuracy: 0.4352
Epoch 6/100
88/88 [==============================] - 4s 47ms/step - loss: 0.5775 - accuracy: 0.7622 - val_loss: 0.6645 - val_accuracy: 0.6032
Epoch 7/100
88/88 [==============================] - 4s 47ms/step - loss: 0.5352 - accuracy: 0.8001 - val_loss: 0.6067 - val_accuracy: 0.6832
Epoch 8/100
88/88 [==============================] - 4s 47ms/step - loss: 0.4942 - accuracy: 0.8196 - val_loss: 0.5877 - val_accuracy: 0.6992
Epoch 9/100
88/88 [==============================] - 4s 47ms/step - loss: 0.4573 - accuracy: 0.8347 - val_loss: 0.5234 - val_accuracy: 0.7600
Epoch 10/100
88/88 [==============================] - 4s 46ms/step - loss: 0.4252 - accuracy: 0.8470 - val_loss: 0.4923 - val_accuracy: 0.7788
Epoch 11/100
88/88 [==============================] - 4s 47ms/step - loss: 0.3979 - accuracy: 0.8571 - val_loss: 0.4685 - val_accuracy: 0.7904
Epoch 12/100
88/88 [==============================] - 4s 47ms/step - loss: 0.3750 - accuracy: 0.8642 - val_loss: 0.4428 - val_accuracy: 0.8048
Epoch 13/100
88/88 [==============================] - 4s 47ms/step - loss: 0.3556 - accuracy: 0.8698 - val_loss: 0.4224 - val_accuracy: 0.8164
Epoch 14/100
88/88 [==============================] - 4s 47ms/step - loss: 0.3393 - accuracy: 0.8754 - val_loss: 0.4294 - val_accuracy: 0.8100
Epoch 15/100
88/88 [==============================] - 4s 46ms/step - loss: 0.3252 - accuracy: 0.8795 - val_loss: 0.4131 - val_accuracy: 0.8176
Epoch 16/100
88/88 [==============================] - 4s 47ms/step - loss: 0.3128 - accuracy: 0.8833 - val_loss: 0.3907 - val_accuracy: 0.8300
Epoch 17/100
88/88 [==============================] - 4s 47ms/step - loss: 0.3021 - accuracy: 0.8868 - val_loss: 0.3642 - val_accuracy: 0.8416
Epoch 18/100
88/88 [==============================] - 4s 47ms/step - loss: 0.2926 - accuracy: 0.8892 - val_loss: 0.3779 - val_accuracy: 0.8340
Epoch 19/100
88/88 [==============================] - 4s 47ms/step - loss: 0.2843 - accuracy: 0.8934 - val_loss: 0.3574 - val_accuracy: 0.8460
Epoch 20/100
88/88 [==============================] - 4s 47ms/step - loss: 0.2768 - accuracy: 0.8957 - val_loss: 0.3640 - val_accuracy: 0.8436
Epoch 21/100
88/88 [==============================] - 4s 47ms/step - loss: 0.2701 - accuracy: 0.8983 - val_loss: 0.3555 - val_accuracy: 0.8480
Epoch 22/100
88/88 [==============================] - 4s 47ms/step - loss: 0.2636 - accuracy: 0.9000 - val_loss: 0.3357 - val_accuracy: 0.8572
Epoch 23/100
88/88 [==============================] - 4s 47ms/step - loss: 0.2582 - accuracy: 0.9030 - val_loss: 0.3668 - val_accuracy: 0.8404
Epoch 24/100
88/88 [==============================] - 5s 57ms/step - loss: 0.2532 - accuracy: 0.9047 - val_loss: 0.3683 - val_accuracy: 0.8396
Epoch 25/100
88/88 [==============================] - 4s 47ms/step - loss: 0.2485 - accuracy: 0.9063 - val_loss: 0.3556 - val_accuracy: 0.8464
Epoch 26/100
88/88 [==============================] - 4s 46ms/step - loss: 0.2442 - accuracy: 0.9080 - val_loss: 0.3652 - val_accuracy: 0.8400
Epoch 27/100
88/88 [==============================] - 4s 47ms/step - loss: 0.2404 - accuracy: 0.9099 - val_loss: 0.3590 - val_accuracy: 0.8420

In [80]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 3s 4ms/step - loss: 0.3023 - accuracy: 0.8774

[0.3022685647010803, 0.8773599863052368]